
@import "font.scss";
@import "form.scss";
@import "mainLayout.scss";
@import "modal.scss";
@import "spinner.scss";
@import "table.scss";
@import "tabs.scss";

body {
  margin: 0;
  font-family: 'Roboto';
}

input {
  border-radius: 5px;
  padding: 20px;
}

*,
html * /* override x.xhtml.ru style */
{
  scrollbar-width: thin;
scrollbar-color: #ffd800 #e5be01;
}

*::-webkit-scrollbar,
html *::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}
*::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
  background: #e5be01;
}
*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
  background-color: #ffd800;
  border-radius: 5px;
  border: 3px solid orange;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

