.Tabs {
    height: auto;
    border-radius: 2rem;
    width: 50%;
}

ul.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #39A2DB;
    border-radius: 2rem;
    padding-left: 0px;
    width:100%;
    background-color: #e5be01;

}
ul.nav li {
    width: 50%;
    padding: 1rem;
    list-style: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.7s;
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
}
ul.nav li:nth-child(2) {
    border-radius: 0;
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
}
ul.nav li:hover {
    background: #ebeb00;
}
ul.nav li.active {
    background: #ebeb00;
}
